@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../colour-variables.scss";

.custom-navbar {
  background-color: $whale-light-blue;
}

.custom-navbar .nav-link {
  color: $whale-main-blue;
}

.show-header {
  display: none;
}

@media (min-width: 767px) {
  .show-header {
    display: block;
  }
}
