@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../colour-variables.scss";

.custom-navbar {
  background-color: $whale-light-blue;
}

.custom-navbar .nav-link {
  color: $whale-main-blue;
}

.custom-navbar .btn-outline-success {
  border-color: $whale-blush-pink;
  color: $whale-blush-pink;
}

.custom-navbar .btn-outline-success:hover {
  background-color: $whale-blush-pink;
  color: white;
}

.show-header {
  display: none;
}

@media (min-width: 767px) {
  .show-header {
    display: block;
  }
}