.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}
