@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./colour-variables.scss";

body {
  padding-top: 13vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 767px) {
  body {
    padding: 0 0 0 0;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-outline-success {
  border-color: $whale-blush-pink;
  color: $whale-blush-pink;
}

.btn-outline-success:hover {
  background-color: $whale-blush-pink;
  color: white;
  border: $whale-blush-pink;
}

.sign-up-page {
  padding-left: 2vw;
}
